# power script for krillin
# This "overclock" the phone when it is booting for a faster bootanimation
# When the bootanimation finish, the mobile will enter into the balanced mode.
# Only tested on bq aquaris E4.5, but it should work on other mt6582 with the noop and bfq sheduller added on his kernel
# Copyright (C) 2017

# Make bootanimation faster
on property:init.svc.bootanim=running
    setprop sys.perf.profile 2
    write /sys/block/mmcblk0/queue/scheduler noop

# CyanogenMod Performance Profiles

# Powersaving
on property:sys.perf.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/cat scaling_governor "performance"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1040000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "598000"
    write /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base "1"

# Balanced
on property:sys.perf.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/cat scaling_governor "performance"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1196000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "747000"
    write /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base "1"

# Performance
on property:sys.perf.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/cat scaling_governor "performance"
    # write /sys/devices/system/cpu/cpu1 "1" Disabled for now.. Need testing
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1300000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "1300000"
    write /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base "4"
    
# Sensor Needed
on post-fs-data
	chown system system /sys/bus/platform/drivers/gsensor/run_fast_calibration
	chown system system /sys/bus/platform/drivers/gsensor/cpsbandwidth
	chown system system /sys/bus/platform/drivers/gsensor/cpsdata
	chown system system /sys/bus/platform/drivers/gsensor/cpsopmode
	chown system system /sys/bus/platform/drivers/gsensor/cpsrange
	chown system system /sys/bus/platform/drivers/msensor/cpsdata
	chown system system /sys/bus/platform/drivers/msensor/cpsopmode
	chown system system /sys/bus/platform/drivers/msensor/cpsreptxy
	chown system system /sys/bus/platform/drivers/msensor/cpsreptz
	chmod 0660 /dev/misc2
	chown root system /dev/misc2

# Change mode when the phone boots.
on property:sys.boot_completed=1
        setprop sys.perf.profile 1
        write /sys/block/mmcblk0/queue/scheduler bfq
