# DareDevil Script for improve the performance
# Only tested on the BQ Aquaris E4.5 (Krillin)
# Pablito2020, 2017

on init
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1300000
    write /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base 4
    mkdir /cust 0771 system system
    mkdir /mpt 0771 system system

on post-fs-data
# Sensor
	chown system system /sys/bus/platform/drivers/gsensor/run_fast_calibration
	chown system system /sys/bus/platform/drivers/gsensor/cpsbandwidth
	chown system system /sys/bus/platform/drivers/gsensor/cpsdata
	chown system system /sys/bus/platform/drivers/gsensor/cpsopmode
	chown system system /sys/bus/platform/drivers/gsensor/cpsrange
	chown system system /sys/bus/platform/drivers/msensor/cpsdata
	chown system system /sys/bus/platform/drivers/msensor/cpsopmode
	chown system system /sys/bus/platform/drivers/msensor/cpsreptxy
	chown system system /sys/bus/platform/drivers/msensor/cpsreptz

	chmod 0660 /dev/misc2
	chown root system /dev/misc2

on property:dev.bootcomplete=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 598000
    write /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base 1
